*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.container{
	width:100%;
	background: #fff;
}
.nav{
	width:100%;
	margin:19px 0 5px;
	height:24px;
}
.nav .nav-right{
	float: right;
	margin-right: 16px;
}
.nav .nav-right li{
	float: left;
	margin-left: 20px;
}
.nav .nav-right li a{
	color: #333;
	font-size: 13px;
	line-height: 24px;
	text-decoration: underline;
}
.nav .nav-right li.wei a{
	font-weight: 700;
}
.nav .nav-right li a:hover{
	color: #00c;
}
.nav .nav-right li.more a:hover{
	color: #fff;
}
.nav .nav-right li.more{
	width:60px;
	height: 23px;
	line-height: 23px;
	background: #38f;
	color: #fff;
	text-align: center;
	border-bottom:1px solid #38f;
	margin-right: 2px;
}
.nav .nav-right li.more a{
	color: #fff;
	text-decoration: none;
}
.header{
	width:100%;
}
.header .lg{
	margin: 0 auto;
	width:270px;
	height:129px;
}
.header .lg img{
	width:270px;
	height:129px;
}
#form{
	margin: 22px auto 0;
	width: 641px;
	text-align: left;
	height: 36.8px;
	position: relative;
}
.ipt{
	border: 1px solid #b6b6b6;
	background: #fff;
	width: 539px;
	display: inline-block;
	height: 36px;
	border-right-width: 0;
	border-color: #b8b8b8 transparent #ccc #b8b8b8;
	margin-right: 0;
	overflow: hidden;
	vertical-align: top;
}
.ipt:hover{
	border-color: #999 transparent #b3b3b3 #999;
}
.ipt .inp{
	position: relative;
	width: 500px;
	height: 22px;
	font: 16px/18px arial;
	line-height: 22px;
	padding: 0;
	margin: 6px 0 0 7px;
	border: none;
	outline: none;
	background: transparent;
}
.ipt .sousuo{
	width: 18px;
	height: 16px;
	position: absolute;
	right: 110px;
	top:50%;
	margin-top: -8px;
	background: #fff url(img/camera.png) no-repeat;
}
.ipt .sousuo:hover{
	background: url(img/camera.png)0 -20px no-repeat;
}
.btn{
	width: auto;
	height: auto;
	display: inline-block;
	margin-left: -5px;
	vertical-align: top;
}
.btn .su{
	outline: medium;
	border: none;
	width:100px;
	height: 38px;
	background: #3385ff;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	letter-spacing: 1px;
}
.content{
	margin-top: 90px;
	text-align: center;
	/*position: absolute;*/
	width: 100%;
	display: inline-block;
}
.content .qrcode-img{
	background: url(img/zbios.png)0 0 no-repeat;
	background-position: 5px 5px;
	width: 106px;
	height: 106px;
	margin: 0 auto;
	border: 1px solid #f3f3f3;
	padding: 5px;
}
.content .qrcode-text{
	color: #999;
	line-height: 23px;
}
.content .qrcode-text .title{
	font-size: 16px;
	color: #333;
	letter-spacing: 3px;
	line-height: 32px;
	text-align: center;
}
.content .qrcode-text .sub-title{
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	font-weight: 300;
}
.footer{
	margin-top: 49px;
	margin-bottom: 49px;
	height: 50px;
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 12px;
	/*margin: 0 auto;*/
}
.footer p.f{
	height: 22px;
	line-height: 22px;
}
.footer p.t{
	height: 24px;
	line-height: 24px;
}
.footer .f a{
	margin-left: 25px;
}
.footer a{
	color: #999;
	text-decoration: underline;
	font-size: 12px;
}
.footer .f a:nth-child(1){
	margin: 0;
}
.footer .t i{
	width: 14px;
	height: 17px;
	display: inline-block;
	background: url(img/icons.png)no-repeat;
}
.footer .t .icon-icrlogo{
	background-position: -600px -96px;
	position: relative;
	top: 3px;
}
.footer .t .icon-jclogo{
	background-position: -623px -96px;
	position: relative;
	top: 3px;
}
.footer .t a.last{
	margin-left: 19px;
}
